name: Release Alpha Template

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'
    branches:
      - main

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build project
        run: |
          zip --junk-paths my-artifact README.md
      - name: Test
        run: echo ${{ github.ref }}
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: my-artifact.zip